@import url(https://fonts.googleapis.com/css?family=Ysabeau+Infant);

* {
    font-family: 'Ysabeau Infant', sans-serif;
    /* background-color: whitesmoke; */
}

body {
    position: relative;
    margin: unset;
    background-color: whitesmoke;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

header,
header * {
    background-color: gray;
}

.info-header-contact {
    display: flex;
    justify-content: space-between;
    padding: 0 1em;
}

.info-header-social {
    display: flex;
    justify-content: space-evenly;
}

.social-icon {
    /* padding-bottom: 0.5em; */
}

.social-icon>img {
    width: 2em;
}

.info-header a {
    color: black;
}

.menu-wrapper {
    position: absolute;
    width: 100%;
    background-color: unset;
    z-index: 2;
}

.hamburger {
    width: 2.5em;
    margin-top: 1em;
    margin-left: 1em;
    background-color: unset;
}

nav {
    position: absolute;
    left: 4.5em;
    top: 1em;
    display: flex;
    flex-direction: column;
    width: 18em;
    border: 1px solid black;
    box-shadow: 0.1em 0.1em 0.1em 0.2em darkgray;
    background-color: whitesmoke;
}

nav a {
    display: flex;
    align-items: center;
    font-size: 2em;
    margin: 0.1em 0.2em;
    border-bottom: 1px solid lightgray;
}

.nav-menu a:last-child {
    border-bottom: unset;
}

.nav-menu img {
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.5em;
}

nav span {
    font-size: 0.75em;
    line-height: 2.5em;
}

nav * {
    text-decoration: none;
}

.nav-menu--hidden {
    display: none;
}

footer,
footer * {
    background-color: gray;
}

footer {
    color: darkgray;
    text-align: center;
    width: 100%;
    margin-top: auto;
}

.site-author {
    font-size: 1em;
    margin: 0.5em 0;
}

.artists-credits {
    color: darkgray;
    font-size: 0.8em;
    display: grid;
    grid-template-columns: repeat(7, 16em);
    overflow-x: scroll;
}

.artists-credits::-webkit-scrollbar {
    display: none;
}

.artists-credits>div,
.artists-credits a {
    color: darkgray;
}

.artists-credits>* {
    border-right: 1px solid darkgray;
    margin: 0.2em;
}

.artists-credits>*:last-child {
    border-right: unset;
}

@media screen and (min-width: 768px) {
    .social-icon>img {
        width: 2.5em;
    }
}

@media screen and (min-width: 1000px) {
    .info-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 5em;
    }

    .info-header-contact>p {
        padding-right: 1em;
        border-right: 1px solid darkgray;
    }

    .info-header-contact>a {
        padding-left: 1em;
    }

    .info-header-social img {
        margin: 1em;
    }

    .social-icon>img {
        width: 2em;
    }

    header a,
    main a {
        text-decoration: none;
    }

    .nav-menu--hidden {
        display: unset;
    }

    .hamburger {
        display: none;
    }

    .nav-menu {
        background-color: gray;
        box-shadow: unset;
        border: unset;
        position: unset;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
    }

    .nav-menu a {
        display: grid;
        grid-template-rows: 1.5em 1em;
        border: unset;
        margin: 0.2em 0.5em;
    }

    .nav-menu img {
        margin: 0 auto;
    }
}
