.gallery-wrap {
    width: 100%;
    display: flex;
    align-items: center;
}

.gallery {
    width: 100%;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    position: relative;
}

.gallery img {
    width: 100%;
}

.gallery::-webkit-scrollbar {
    display: none;
}

.image-scroll {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    justify-self: center;
    z-index: 1;
    opacity: 0.2;
}

.image-scroll img {
    width: 2em;
    margin: 0 0.5em;
}

main span {
    text-align: center;
}

.intro {
    font-size: 2em;
    margin-bottom: 0.2em;
}

.sub-intro {
    font-size: 1.5em;
    margin-top: 0;
}

@media screen and (min-width: 1000px) {

    .gallery-wrap {
        margin-top: 8em;
    }

    .gallery {
        height: 20em;
        width: 80%;
        margin: auto;
        column-gap: 1em;
    }

    .image-scroll {
        margin: auto;
        opacity: 1;
    }

    .image-scroll img {
        margin: 0 4em;
    }

    .gallery img {
        width: 33%;
    }
}